//Custom Font
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');
//font-family: 'Merriweather', serif;

body{
  margin:0;
  background-color: black;
}

.App {
  
  //following are to make sure the image stays in the background
  background: url(./image_svg/background.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-attachment: fixed;
  background-size: cover;
  // ---------------------------------------------------------- //
  
  text-align: center;
  display: flex;
  justify-content: center; // keeps app in the center
  align-items: center;
  font-family: 'Merriweather', serif;
  height: 100vh;
  width: 100vw;

  
}

.login {
  width: 27em;
  height: 40em;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  position: relative;
  z-index: 99;

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(230, 233, 239);
    box-shadow: 0px 0px 12px 2px rgba(15, 15, 15, 0.2);
    border-radius: 4px;
    position: relative;
    z-index: 99;
    width: 100%;
    z-index: 99;
    padding: 17px 10px;
  }

  .right-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 60%;
    background-color: #536DFE;// white;// #3498db;
    width: 100%;
    position: absolute;
    right: -34%;
    border-radius: 6px;
    z-index: 1;
    transition: all 400ms ease-in-out;
    cursor: pointer;
    box-shadow: 0px 0px 15px 2px rgba(15, 15, 15, 0.281);
    
    &.right {
      right: -40%;
      align-items: flex-end;
      &:hover {
        right: -45%;
      }
    }
    &.left {
      right: 40%;
      align-items: flex-start;
      &:hover {
        right: 45%;
      }
    }

    .text {
      font-size: 21px;
      font-weight: 500;
      color: rgb(230, 233, 239);// #fff;
      margin-right: 2em;
      margin-left: 3em;
    }
  }
}

//Button
.btn {
  font-size: 20px;
  //align-items: center;
  padding: 10px 20px;
  border: 0;
  background-color: #536DFE;
  color: rgb(230, 233, 239);// #fff;
  border-radius: 20px;
  margin-top: 10px;
  //margin-bottom: 100px;
  transition: all 250ms ease-in-out;
  cursor: pointer;
  &:hover {
    background-color: #3b4eb8;
  }
  &:focus {
    outline: none;
  } 
}