
.buttonContainer{ 
    padding-top: 1em;
}
.btn {
    font-size: 20px;
    padding: 10px 20px;
    border: 0;
    background-color: #536DFE;
    color: #212121;
    border-radius: 20px;
    margin-top: 10px;
    transition: all 250ms ease-in-out;
    cursor: pointer;
    &:hover {
      background-color: #3b4eb8;
    }
    &:focus {
      outline: none;
    } 
  }